<!DOCTYPE html>
<html>
<head>
  <title>Vinyl></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%- include('header') %>

  <h1> Hello from your personal page! <%- user.username %></h1>
  <h5> Email Address: <%- user.email %></h5>
  <h5> Member Since: <%- user.member_since %></h5>

  <h4> My Reviews</h4>
    <% userReviews.forEach( function(review){ %>
      <div class="reviews">
        <h5><%= review.content %></h5>
        <form action="/<%= review.id_r %>/delete" method="POST">
          <input type="submit" value="delete" />
        </form>
      </div>
    <% }) %>
</body>
</html>
